Repository nix-community/stylix, pull requests merged in 2025-05, with the labels that each got.

#1250 wayprompt: init
  flake.lock
  modules/wayprompt/hm.nix
  modules/wayprompt/meta.nix
  stylix/maintainers.nix
Labels: dependencies, home-manager

#1262 doc: wrap to width of 80
  docs/src/development_environment.md
  docs/src/installation.md
  docs/src/modules.md
  docs/src/options/platforms/home_manager.md
  docs/src/styling.md
  docs/src/testbeds.md
  docs/src/tricks.md
Labels: documentation

#1259 halloy: use upstream themes option
  flake.lock
  modules/halloy/hm.nix
  modules/halloy/template.toml.mustache
  modules/halloy/testbeds/default.nix
Labels: dependencies, home-manager

#1260 foliate: use upstream option
  flake.lock
  modules/foliate/hm.nix
  modules/foliate/testbeds/default.nix
Labels: dependencies, home-manager

#1221 nixcord: change theme location on nix-darwin
  modules/discord/hm.nix
Labels: home-manager

#1270 doc: use hash instead of sha256 in example
  docs/src/configuration.md
Labels: documentation

#1255 stylix: `mkEnableTarget` should not check `stylix.enable`
  docs/src/modules.md
  modules/gtk/hm.nix
  modules/kitty/hm.nix
  modules/kubecolor/hm.nix
  stylix/target.nix
Labels: documentation, home-manager

#1264 mako: don't use criteria option
  flake.lock
  modules/mako/hm.nix
Labels: dependencies, home-manager

#1267 stylix: rename homeManagerModules to homeModules
  docs/default.nix
  docs/src/installation.md
  flake.nix
Labels: documentation, home-manager

#1276 cava: refactor + fix rainbow.enable description
  modules/cava/hm.nix
Labels: home-manager

#1208 flake: use flake-parts
  .github/workflows/update-flake.yml
  docs/src/commit_convention.md
  flake.lock
  flake.nix
  flake/default.nix
  flake/dev-shell.nix
  flake/modules.nix
  flake/packages.nix
  flake/pre-commit.nix
Labels: documentation, dependencies, backport release-24.11, home-manager

#1282 doc: use callPackage
  docs/default.nix
  flake/packages.nix
Labels: documentation

#1296 gnome-text-editor: update style path
  modules/gnome-text-editor/overlay.nix
Labels: overlay

#1273 doc: explain how to build & check the docs locally
  docs/src/development_environment.md
Labels: documentation

#1297 treewide: change repository owner to nix-community
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/change_option.yml
  .github/ISSUE_TEMPLATE/change_target.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new_option.yml
  .github/ISSUE_TEMPLATE/new_target.yml
  .github/workflows/backport.yml
  .github/workflows/labels.yml
  .github/workflows/update-flake.yml
  README.md
  docs/book.toml
  docs/default.nix
  docs/src/installation.md
  docs/src/modules.md
  docs/src/testbeds.md
  flake.nix
  modules/kde/hm.nix
  modules/mangohud/hm.nix
  modules/micro/hm.nix
  modules/qt/hm.nix
  modules/qutebrowser/hm.nix
  modules/xfce/hm.nix
Labels: documentation, backport release-24.11, home-manager

#1301 doc: update nix-darwin owner
  README.md
  docs/src/installation.md
Labels: documentation, backport release-24.11

#1295 gnome: update CSS to version 48.1
  flake.lock
  flake.nix
  modules/gnome/colors.scss.mustache
Labels: dependencies

#1261 doc: simplify 'Development Setup' section
  docs/src/modules.md
Labels: documentation

#1307 doc: set site-url
  docs/book.toml
Labels: documentation

#1306 gnome: install User Themes extension
  modules/gnome/hm.nix
Labels: backport release-24.11, home-manager

#1311 stylix: fix link to docs in README
  README.md
Labels: documentation

#1312 doc: danth/stylix -> nix-community/stylix
  docs/src/modules.md
Labels: documentation

#1308 kitty: tinted-kitty commit bump
  flake.lock
  flake.nix
  modules/kitty/hm.nix
Labels: dependencies, home-manager

#1314 treewide: update documentation links
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/change_option.yml
  .github/ISSUE_TEMPLATE/change_target.yml
  .github/ISSUE_TEMPLATE/new_option.yml
  .github/PULL_REQUEST_TEMPLATE.md
  docs/src/development_environment.md
  stylix/palette.html.mustache
Labels: documentation

#1272 doc: move to doc directory
  doc/book.toml
  doc/default.nix
  doc/settings.nix
  doc/src/SUMMARY.md
  doc/src/commit_convention.md
  doc/src/configuration.md
  doc/src/development_environment.md
  doc/src/installation.md
  doc/src/modules.md
  doc/src/options/platforms/home_manager.md
  doc/src/options/platforms/nixos.md
  doc/src/styling.md
  doc/src/testbed_gnome_default_dark.png
  doc/src/testbeds.md
  doc/src/tricks.md
  flake/packages.nix
Labels: documentation

#1280 alacritty: fix bright-yellow usage, adopt
  modules/alacritty/hm.nix
  modules/alacritty/meta.nix
Labels: home-manager

#1317 stylix: bump release to 25.11
  .github/labeler.yml
  flake.lock
  stylix/release.nix
Labels: dependencies

#1322 treewide: remove unnecessary builtins prefix
  doc/default.nix
  stylix/home-manager-integration.nix
  stylix/testbed.nix
Labels: testbed, backport release-25.05

#1291 stylix: improve how discord testbed is disabled
  flake/packages.nix
  modules/discord/testbeds/vencord.nix
  stylix/testbed.nix
Labels: testbed

#1325 stylix: revert improval of how discord testbed is disabled
  flake/packages.nix
  modules/discord/testbeds/vencord.nix
  stylix/testbed.nix
Labels: testbed

#1326 stylix: improve how discord testbed is disabled
  flake/packages.nix
  modules/discord/testbeds/vencord.nix
  stylix/testbed.nix
Labels: testbed

#1130 stylix: add `mkTarget` function
  doc/src/modules.md
  modules/alacritty/hm.nix
  modules/hyprland/hm.nix
  stylix/autoload.nix
  stylix/mk-target.nix
Labels: documentation, home-manager, backport release-25.05

#1332 alacritty: fix mkTarget usage
  modules/alacritty/hm.nix
Labels: home-manager, backport release-25.05

#1269 ci: add workflow to label merge conflicts
  .github/workflows/conflicts.yml
Labels: backport release-25.05

#1344 ci: fix tag for label merge conflicts
  .github/workflows/conflicts.yml
Labels: backport release-25.05

#1348 ci: used maintained conflicts action
  .github/workflows/conflicts.yml
Labels: backport release-25.05

#1316 gnome: don't apply hm on darwin
  modules/gnome/hm.nix
Labels: home-manager, backport release-25.05

#1355 hyprland: fix hyprpaper enable condition
  modules/hyprland/hm.nix
Labels: home-manager, backport release-25.05

#1342 treewide: use mkTarget (batch 1)
  modules/avizo/hm.nix
  modules/bat/hm.nix
  modules/bspwm/hm.nix
  modules/btop/hm.nix
  modules/cava/hm.nix
  modules/cavalier/hm.nix
  modules/chromium/nixos.nix
  modules/console/droid.nix
  modules/console/nixos.nix
  modules/fish/hm.nix
  modules/fish/nixos.nix
  modules/fish/prompt.nix
  modules/foliate/hm.nix
  modules/foot/hm.nix
  modules/forge/hm.nix
  modules/gedit/hm.nix
  modules/gitui/hm.nix
  modules/halloy/hm.nix
  modules/helix/hm.nix
  modules/hyprlock/hm.nix
  modules/lazygit/hm.nix
  modules/xfce/hm.nix
  modules/xresources/hm.nix
  modules/zed/hm.nix
  modules/zellij/hm.nix
Labels: nixos, home-manager, droid, backport release-25.05

#1256 stylix: prefix labels with type
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/change_option.yml
  .github/ISSUE_TEMPLATE/change_target.yml
  .github/ISSUE_TEMPLATE/new_option.yml
  .github/ISSUE_TEMPLATE/new_target.yml
  .github/labeler.yml
  .github/workflows/backport.yml
  .github/workflows/update-flake.yml
Labels: backport release-25.05

#1360 foot: fix font size
  modules/foot/hm.nix
  modules/foot/meta.nix
Labels: topic: home-manager

#1362 treewide: use mkTarget (batch 2)
  modules/bemenu/hm.nix
  modules/dunst/hm.nix
  modules/fcitx5/hm.nix
  modules/feh/hm.nix
  modules/fnott/hm.nix
  modules/fuzzel/hm.nix
  modules/fzf/hm.nix
  modules/ghostty/hm.nix
  modules/glance/hm.nix
  modules/glance/nixos.nix
  modules/glance/rgb-to-hsl.nix
  modules/hyprpaper/hm.nix
  modules/k9s/hm.nix
  modules/kitty/hm.nix
  modules/kmscon/nixos.nix
  modules/kubecolor/hm.nix
  modules/lightdm/nixos.nix
  modules/mako/hm.nix
  modules/mangohud/hm.nix
  modules/micro/hm.nix
  modules/nushell/hm.nix
  modules/qutebrowser/hm.nix
  modules/spotify-player/hm.nix
  modules/starship/hm.nix
  modules/swaync/hm.nix
  modules/sxiv/hm.nix
  modules/tmux/hm.nix
  modules/tofi/hm.nix
  modules/wob/hm.nix
  modules/wofi/hm.nix
  modules/wpaperd/hm.nix
  modules/yazi/hm.nix
  modules/zathura/hm.nix
Labels: topic: nixos, topic: home-manager, backport: release-25.05

#1370 tofi: add missing lib module argument
  modules/tofi/hm.nix
Labels: topic: home-manager, backport: release-25.05

#1372 stylix: allow for overlays to access options
  stylix/overlays.nix
Labels: topic: overlay, backport: release-25.05

#1320 doc: recommend 25.05 as stable version
  doc/src/installation.md
Labels: topic: documentation, backport: release-25.05

#1390 bemenu: fix undefined variable error
  modules/bemenu/hm.nix
Labels: topic: home-manager

#1394 flake: use biome formatter for JSON & CSS
  flake/default.nix
  modules/vscode/package.json
  modules/waybar/base.css
Labels: backport: release-25.05

#1395 stylix: refactor testbed impl in prep for flake partition
  .github/labeler.yml
  flake/packages.nix
  stylix/testbed.nix
  stylix/testbed/default.nix
  stylix/testbed/images.nix
  stylix/testbed/is-enabled.nix
  stylix/testbed/modules/README.md
  stylix/testbed/modules/application.nix
  stylix/testbed/modules/common.nix
  stylix/testbed/modules/enable.nix
  stylix/testbed/themes/README.md
  stylix/testbed/themes/cursorless.nix
  stylix/testbed/themes/dark.nix
  stylix/testbed/themes/imageless.nix
  stylix/testbed/themes/light.nix
  stylix/testbed/themes/schemeless.nix
  stylix/testbed/user.toml
Labels: topic: testbed, backport: release-25.05

#1420 ci: fix backport conditions
  .github/workflows/backport.yml
Labels: backport: release-25.05

#1424 yazi: Change deprecated "manager" to new name "mgr"
  modules/yazi/hm.nix
Labels: topic: home-manager

#1363 stylix: add imports to mkTarget
  stylix/mk-target.nix
Labels: backport: release-25.05

#1116 stylix: yamlint ignore truthy for workflows
  .github/workflows/backport.yml
  .github/workflows/check.yml
  .github/workflows/conflicts.yml
  .github/workflows/docs.yml
  .github/workflows/labels.yml
  .github/workflows/update-flake.yml
  .yamllint.yml
Labels: backport: release-25.05
