Repository nix-community/stylix, pull requests merged in 2025-09, with the labels that each got.

#1868 doc/src/commit_convention: indicate root directory and add commit example
  doc/src/commit_convention.md
Labels: topic: documentation, backport: release-25.05

#1873 fnott: set icon theme
  modules/fnott/hm.nix
Labels: topic: home-manager, backport: release-25.05, topic: modules

#1876 gnome: get extension UUID from package metadata
  modules/gnome/hm.nix
Labels: topic: home-manager, backport: release-25.05, topic: modules

#1872 fnott: switch progress color option to non deprecated option
  modules/fnott/hm.nix
Labels: topic: home-manager, topic: modules

#1885 ci: request-reviewers: do not request PR author
  .github/workflows/request-reviewers.yml
Labels: backport: release-25.05, topic: ci

#1907 lazygit: more consistent border colors
  modules/lazygit/hm.nix
Labels: topic: home-manager, backport: release-25.05, topic: modules

#1906 stylix/testbed/default: simplify attribute set declaration
  stylix/testbed/default.nix
Labels: topic: testbed, topic: stylix

#1915 treewide: remove optional builtins prefixes from prelude functions
  doc/default.nix
  stylix/autoload.nix
  stylix/testbed/modules/common.nix
Labels: topic: documentation, topic: testbed, topic: stylix

#1914 [release-25.05] treewide: remove optional builtins prefixes from prelude functions
  doc/default.nix
  flake/deprecation/per-system-option.nix
  modules/bemenu/hm.nix
  modules/glance/testbeds/glance-hm.nix
  modules/glance/testbeds/glance-nixos.nix
  modules/neovim/neovim.nix
  modules/rofi/hm.nix
  modules/swaync/hm.nix
  modules/waybar/hm.nix
  modules/wezterm/hm.nix
  modules/zathura/hm.nix
  stylix/autoload.nix
  stylix/testbed/modules/common.nix
Labels: topic: documentation, topic: home-manager, topic: testbed, topic: flake, topic: modules, topic: stylix

#1913 modules: replace static builtins.hasAttrs instances with '?' operator
  modules/discord/nixcord.nix
  modules/zen-browser/hm.nix
Labels: topic: home-manager, topic: modules

#1917 flake: update all inputs
  flake.lock
  flake/dev/flake.lock
  flake/dev/flake.nix
  flake/dev/pre-commit.nix
Labels: topic: dependencies, topic: flake

#1912 zen-browser: fix urlbar theming after zen 1.16b update
  flake/dev/flake.lock
  modules/zen-browser/userChrome.nix
Labels: backport: release-25.05, status: merge conflict, topic: flake, topic: modules
