Repository nix-community/stylix, pull requests merged in 2025-08, with the labels that each got.

#1801 anki: init
  flake/dev/flake.lock
  generated/all-maintainers.nix
  modules/anki/hm.nix
  modules/anki/meta.nix
  modules/anki/testbeds/anki.nix
  stylix/maintainers.nix
Labels: topic: home-manager, topic: testbed, topic: flake, topic: modules, topic: stylix

#1820 anki/meta: fix name capitalization
  modules/anki/meta.nix
Labels: backport: release-25.05, topic: modules

#1821 anki/hm: remove unused config argument
  modules/anki/hm.nix
Labels: topic: home-manager, topic: modules

#1825 ci: request-reviewers: add missing permission, fix modules path
  .github/workflows/request-reviewers.yml
Labels: backport: release-25.05, topic: ci

#1829 zen-browser: refactor mustached css to nix multiline string
  modules/zen-browser/hm.nix
  modules/zen-browser/userChrome.css.mustache
  modules/zen-browser/userChrome.nix
  modules/zen-browser/userContent.css.mustache
  modules/zen-browser/userContent.nix
Labels: topic: home-manager, topic: modules

#1836 ci: ISSUE_TEMPLATE: improve and match PR template
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/change_option.yml
  .github/ISSUE_TEMPLATE/change_target.yml
  .github/ISSUE_TEMPLATE/new_option.yml
  .github/ISSUE_TEMPLATE/new_target.yml
  doc/src/modules.md
Labels: topic: documentation, backport: release-25.05, topic: ci

#1823 stylix/droid: fix import droid modules
  stylix/droid/default.nix
  stylix/droid/fonts.nix
  stylix/droid/palette.nix
Labels: topic: droid, backport: release-25.05, topic: stylix

#1718 fontconfig order
  modules/fontconfig/fontconfig.nix
  stylix/darwin/default.nix
  stylix/droid/default.nix
  stylix/hm/default.nix
  stylix/nixos/default.nix
  stylix/ordering.nix
Labels: topic: nixos, topic: home-manager, topic: darwin, topic: droid, topic: modules, topic: stylix
