Repository nix-community/stylix, pull requests merged in 2025-07, with the labels that each got.

#1552 ashell: add target
  flake.lock
  modules/ashell/hm.nix
  modules/ashell/meta.nix
Labels: topic: dependencies, topic: home-manager

#1576 ashell: fix use of opacity option
  modules/ashell/hm.nix
Labels: topic: home-manager

#1574 doc: fix testbed special option doc
  doc/src/testbeds.md
Labels: topic: documentation

#1584 nixos-icons: pad hex color values with leading zeros
  modules/nixos-icons/overlay.nix
Labels: topic: overlay

#1497 fuzzel: apply iconTheme
  modules/fuzzel/hm.nix
Labels: topic: home-manager, backport: release-25.05

#1192 mako: add testbed
  modules/mako/testbeds/default.nix
Labels: backport: release-25.05

#1593 rofi: fix mkTarget usage
  modules/rofi/hm.nix
Labels: topic: home-manager

#1599 rio: use mkTarget
  modules/rio/hm.nix
Labels: topic: home-manager

#1609 wayfire: remove illegal `config.stylix` access
  modules/wayfire/hm.nix
Labels: topic: home-manager

#1613 stylix: fix 'unguarded' typo
  stylix/autoload.nix
Labels: backport: release-25.05

#1289 flake: partition dev inputs
  .github/workflows/update-flake.yml
  default.nix
  flake.lock
  flake.nix
  flake/default.nix
  flake/dev/default.nix
  flake/dev/dev-shell.nix
  flake/dev/flake.lock
  flake/dev/flake.nix
  flake/dev/nixpkgs-and-dev-nixpkgs-version-consistency.nix
  flake/dev/packages.nix
  flake/dev/pre-commit.nix
  flake/packages.nix
  flake/propagated-packages.nix
Labels: topic: dependencies, backport: release-25.05

#1502 {i3,sway}: export bar configuration through options
  modules/i3/hm.nix
  modules/i3/meta.nix
  modules/sway/hm.nix
  modules/sway/meta.nix
Labels: topic: home-manager

#1629 ci: public flake instead of root flake
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

#1619 [release-25.05] flake: partition dev inputs
  .github/workflows/update-flake.yml
  default.nix
  flake.lock
  flake.nix
  flake/default.nix
  flake/dev/default.nix
  flake/dev/dev-shell.nix
  flake/dev/flake.lock
  flake/dev/flake.nix
  flake/dev/nixpkgs-and-dev-nixpkgs-version-consistency.nix
  flake/dev/packages.nix
  flake/dev/pre-commit.nix
  flake/packages.nix
  flake/propagated-packages.nix
Labels: topic: dependencies

#1641 sxiv: avoid downloading custom file in testbed
  modules/sxiv/testbeds/sxiv.nix
Labels: topic: testbed, backport: release-25.05

#1636 flake: infer default.nix import path
  flake/dev/packages.nix
Labels: backport: release-25.05

#1596 gtk: use mkTarget
  modules/gtk/hm.nix
  modules/gtk/nixos.nix
Labels: topic: nixos, topic: home-manager, backport: release-25.05

#1631 plymouth: use mkTarget
  modules/plymouth/nixos.nix
  modules/plymouth/theme-script.nix
Labels: topic: nixos, backport: release-25.05

#1652 stylix/overlays: use isFunction
  stylix/overlays.nix
Labels: kind: chore, topic: overlay, backport: release-25.05

#1579 {nixvim,nvf}: add testbeds
  flake/dev/default.nix
  flake/dev/flake.lock
  flake/dev/flake.nix
  flake/dev/nixpkgs-and-dev-nixpkgs-version-consistency.nix
  flake/dev/public-and-dev-version-consistency.nix
  modules/neovim/testbeds/nixvim.nix
  modules/neovim/testbeds/nvf.nix
  stylix/testbed/default.nix
Labels: topic: dependencies, topic: testbed

#1626 spicetify: make background different than text
  modules/spicetify/spicetify.nix
Labels: backport: release-25.05

#1670 wayfire: mixup between wayfire and wf-shell settings
  modules/wayfire/hm.nix
Labels: topic: home-manager, backport: release-25.05

#958 gtksourceview: init module
  modules/gedit/hm.nix
  modules/gnome-text-editor/meta.nix
  modules/gnome-text-editor/overlay.nix
  modules/gtksourceview/hm.nix
  modules/gtksourceview/meta.nix
  modules/gtksourceview/nixos.nix
  modules/gtksourceview/overlay.nix
  modules/gtksourceview/template.xml.mustache
Labels: kind: feature, topic: nixos, topic: home-manager, topic: overlay, backport: release-25.05

#1677 [release-25.05] {nixvim,nvf}: add testbeds (#1579)
  flake/dev/default.nix
  flake/dev/flake.lock
  flake/dev/flake.nix
  flake/dev/nixpkgs-and-dev-nixpkgs-version-consistency.nix
  flake/dev/public-and-dev-version-consistency.nix
  modules/neovim/testbeds/nixvim.nix
  modules/neovim/testbeds/nvf.nix
  stylix/testbed/default.nix
Labels: topic: testbed

#1658 wayfire: remove optional toString
  flake/dev/flake.lock
  modules/wayfire/hm.nix
Labels: topic: home-manager, backport: release-25.05

#1680 gtksourceview: don't overlay all of gnome2
  modules/gtksourceview/overlay.nix
Labels: topic: overlay, backport: release-25.05

#1659 treewide: remove redundant stylix.image Nix store copies
  modules/swaylock/hm.nix
  modules/wpaperd/hm.nix
  stylix/palette.nix
Labels: topic: home-manager, backport: release-25.05

#1676 stylix: use lib.warn instead of builtins.warn
  flake/deprecation/default.nix
  modules/i3/hm.nix
  modules/sway/hm.nix
Labels: topic: home-manager

#1689 stylix: don't check lambda pattern names with deadnix
  flake/dev/pre-commit.nix
  modules/waybar/hm.nix
  stylix/mk-target.nix
Labels: topic: home-manager

#1704 zellij: Updated module to reflect new theme config
  modules/zellij/hm.nix
Labels: topic: home-manager

#1222 stylix: allow choosing testbed desktop
  doc/src/testbeds.md
  modules/bspwm/testbeds/bspwm.nix
  modules/gnome/testbeds/gnome.nix
  modules/hyprland/testbeds/hyprland.nix
  modules/kde/testbeds/kde.nix
  modules/mako/testbeds/mako.nix
  stylix/testbed/available-graphical-environments.nix
  stylix/testbed/default.nix
  stylix/testbed/graphical-environments/bspwm.nix
  stylix/testbed/graphical-environments/gnome.nix
  stylix/testbed/graphical-environments/hyprland.nix
  stylix/testbed/graphical-environments/kde.nix
  stylix/testbed/modules/application.nix
Labels: topic: documentation, topic: testbed, backport: release-25.05

#1708 wayprompt: add testbed
  modules/wayprompt/testbeds/wayprompt.nix
Labels: topic: testbed

#1714 stylix/testbed: respect xserver rename for gnome
  stylix/testbed/graphical-environments/gnome.nix
Labels: topic: testbed, backport: release-25.05

#1713 [release-25.05] stylix: allow choosing testbed desktop
  doc/src/testbeds.md
  modules/bspwm/testbeds/bspwm.nix
  modules/gnome/testbeds/gnome.nix
  modules/hyprland/testbeds/hyprland.nix
  modules/kde/testbeds/kde.nix
  modules/mako/testbeds/mako.nix
  stylix/testbed/available-graphical-environments.nix
  stylix/testbed/default.nix
  stylix/testbed/graphical-environments/bspwm.nix
  stylix/testbed/graphical-environments/gnome.nix
  stylix/testbed/graphical-environments/hyprland.nix
  stylix/testbed/graphical-environments/kde.nix
  stylix/testbed/modules/application.nix
Labels: topic: documentation, topic: testbed

#1698 stylix: conditionally load external modules in testbeds
  stylix/testbed/default.nix
Labels: topic: testbed, backport: release-25.05

#1725 ci: use cachix install nix action
  .github/workflows/check.yml
  .github/workflows/doc.yml
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

#1654 stylix: add generated all-maintainers file
  .github/workflows/update-flake.yml
  doc/src/modules.md
  flake/dev/all-maintainers.nix
  flake/dev/default.nix
  flake/dev/pre-commit.nix
  flake/propagated-packages.nix
  generated/all-maintainers.nix
Labels: topic: documentation, backport: release-25.05

#1728 ci: fix generated all-maintainers path
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

#1694 zen-browser: init
  flake/dev/flake.lock
  flake/dev/flake.nix
  modules/zen-browser/hm.nix
  modules/zen-browser/meta.nix
  modules/zen-browser/testbeds/zen-browser.nix
  modules/zen-browser/userChrome.css.mustache
  modules/zen-browser/userContent.css.mustache
  stylix/testbed/default.nix
Labels: topic: home-manager, topic: testbed

#1732 stylix: simplify API by renaming stylix.iconTheme option to stylix.icons
  modules/fuzzel/hm.nix
  modules/qt/hm.nix
  stylix/hm/default.nix
  stylix/hm/icons.nix
  stylix/icons.nix
Labels: topic: home-manager, backport: release-25.05

#1744 stylix: apply stylix.iconTheme option rename to all sub-options
  stylix/icons.nix
Labels: backport: release-25.05

#1642 flake: add Flake Parts tree into testbed environment
  .github/workflows/check.yml
  modules/bat/testbeds/bat.nix
  modules/emacs/testbeds/emacs.nix
  modules/gedit/testbeds/gedit.nix
  modules/gnome-text-editor/testbeds/gnome-text-editor.nix
  modules/micro/testbeds/micro.nix
  modules/neovim/testbeds/neovide.nix
  modules/neovim/testbeds/neovim.nix
  modules/neovim/testbeds/nixvim.nix
  modules/neovim/testbeds/nvf.nix
  modules/neovim/testbeds/vim.nix
  modules/vscode/testbeds/vscode.nix
  modules/zed/testbeds/zed.nix
  stylix/testbed/default.nix
  stylix/testbed/modules/flake-parts.nix
Labels: topic: testbed, backport: release-25.05

#1754 flake: leverage lib.flip
  flake/dev/all-maintainers.nix
Labels: backport: release-25.05

#1770 stylix/testbed: add sendNotifications option
  modules/mako/testbeds/mako.nix
  stylix/testbed/modules/application.nix
Labels: topic: testbed, backport: release-25.05, topic: modules, topic: stylix

#1772 helix: add testbed
  modules/helix/testbeds/helix.nix
Labels: topic: testbed, backport: release-25.05, topic: modules

#1696 yazi: allow to set boldness of directory
  modules/yazi/hm.nix
Labels: topic: home-manager

#1782 fish: add testbeds
  modules/fish/testbeds/fish-hm.nix
  modules/fish/testbeds/fish-nixos.nix
Labels: topic: testbed, backport: release-25.05, topic: modules

#1717 doc: commit_convention: overhaul and formalize unspoken rules
  doc/src/commit_convention.md
Labels: topic: documentation, kind: chore, backport: release-25.05

#1797 ci: use nix-community cachix
  .github/workflows/check.yml
  .github/workflows/doc.yml
Labels: backport: release-25.05, topic: ci

#1802 ci: visually distinguish user description from PR template content
  .github/PULL_REQUEST_TEMPLATE.md
Labels: backport: release-25.05, topic: ci

#1814 doc/src/modules: fix admonition formatting
  doc/src/modules.md
Labels: topic: documentation, backport: release-25.05
