Repository nix-community/stylix, pull requests merged in 2025-10, with the labels that each got.

#1918 obsidian: init
  generated/all-maintainers.nix
  modules/obsidian/hm.nix
  modules/obsidian/meta.nix
  modules/obsidian/testbeds/obsidian.nix
  stylix/maintainers.nix
Labels: topic: home-manager, topic: testbed, backport: release-25.05, topic: modules, topic: stylix

#1926 ci: check: bump and use correct x86_64-darwin runner
  .github/workflows/check.yml
Labels: backport: release-25.05, topic: ci

#1931 hyprpanel: more granularly split configElements
  modules/hyprpanel/hm.nix
Labels: topic: home-manager, topic: modules
