Repository nix-community/stylix, pull requests merged in 2025-06, with the labels that each got.

#1434 ci: flake update 25.05
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

#1451 wayfire: capitalize `humanName` value
  modules/wayfire/hm.nix
Labels: topic: home-manager, backport: release-25.05

#1449 wayprompt: drop `-hex` suffix on single color value
  modules/wayprompt/hm.nix
Labels: topic: home-manager, backport: release-25.05

#1147 blender: init Blender theme
  modules/blender/README.md
  modules/blender/Stylix.xml.mustache
  modules/blender/hm.nix
  modules/blender/meta.nix
  modules/blender/testbeds/blender.nix
Labels: topic: home-manager, backport: release-25.05

#1436 ci: don't check repository_owner
  .github/workflows/conflicts.yml
  .github/workflows/labels.yml
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

#1244 Add `mkEnableTargetWith` and use it for documenting dynamic `autoEnable` conditions
  doc/src/modules.md
  modules/feh/hm.nix
  modules/feh/nixos.nix
  modules/gnome/hm.nix
  modules/hyprland/hm.nix
  modules/qt/hm.nix
  modules/qt/nixos.nix
  modules/swaylock/hm.nix
  stylix/mk-target.nix
  stylix/target.nix
Labels: topic: documentation, topic: nixos, topic: home-manager, backport: release-25.05

#1292 fontconfig: align Home Manager with NixOS and enhance docs
  doc/src/configuration.md
  modules/font-packages/meta.nix
  modules/fontconfig/fontconfig.nix
  modules/fontconfig/hm.nix
  modules/fontconfig/meta.nix
  modules/fontconfig/nixos.nix
Labels: topic: nixos, topic: home-manager, backport: release-25.05

#1333 ncspot: use mkTarget
  modules/ncspot/hm.nix
Labels: topic: home-manager, backport: release-25.05

#1481 swaylock: use mkTarget
  modules/swaylock/hm.nix
Labels: topic: home-manager

#1480 yazi: update tabs theming style
  modules/yazi/hm.nix
Labels: topic: home-manager

#1318 doc: remove redundant documentation dummy values
  doc/default.nix
  doc/settings.nix
Labels: backport: release-25.05

#1499 doc: update docs on building docs
  doc/src/development_environment.md
  doc/src/modules.md
Labels: backport: release-25.05

#1472 wezterm: use mkTarget
  modules/wezterm/hm.nix
Labels: topic: home-manager

#1513 bemenu: add defaultText to fontSize
  modules/bemenu/hm.nix
Labels: topic: home-manager

#1517 treewide: use config in literalExpressions
  modules/hyprland/hm.nix
  modules/swaylock/hm.nix
  stylix/target.nix
Labels: topic: home-manager, backport: release-25.05

#1511 discord: use mkTarget
  modules/discord/common/color-theme.nix
  modules/discord/common/font-theme.nix
  modules/discord/common/theme-elements.nix
  modules/discord/common/theme-header.nix
  modules/discord/hm.nix
  modules/discord/nixcord.nix
  modules/discord/vencord.nix
  modules/discord/vesktop.nix
Labels: topic: home-manager

#1215 doc: remove redundant option-location filtering
  doc/default.nix
Labels: topic: documentation

#1520 stylix: extract testbed modules to `autoload.nix`
  stylix/testbed/autoload.nix
  stylix/testbed/default.nix
Labels: topic: testbed

#1545 firefox: simplify derivation and inherit declarations
  modules/firefox/hm.nix
Labels: topic: home-manager, backport: release-25.05

#1550 rofi: use mkTarget
  modules/rofi/hm.nix
Labels: topic: home-manager

#1547 ci: commit as stylix-automation in updates
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

#1558 [release-25.05] rofi: backport 713f8dae3127 and 3a09d3f5cb94
  modules/rofi/hm.nix
Labels: topic: home-manager

#1561 zed: fix homepage URL
  modules/zed/meta.nix
Labels: backport: release-25.05
