Repository nix-community/stylix, pull requests merged in 2025-03, with the labels that each got.

#952 ci: ignore Cachix errors
  .github/workflows/check.yml
  .github/workflows/docs.yml
Labels: chore

#982 [release-24.11] stylix: update all flake inputs
  flake.lock
Labels: dependencies

#981 stylix: update all flake inputs
  flake.lock
Labels: dependencies

#778 stylix: init droid
  README.md
  docs/src/installation.md
  docs/src/modules.md
  flake.nix
  modules/console/droid.nix
  stylix/droid/default.nix
  stylix/droid/fonts.nix
  stylix/droid/palette.nix
Labels: feature

#932 glance: fix rgb-to-hsl conversion
  modules/glance/hm.nix
Labels: bug

#980 vscode: set profile name in testbed
  modules/vscode/testbeds/default.nix
Labels: bug

#955 doc: implement custom option list generation
  docs/default.nix
  docs/src/SUMMARY.md
Labels: performance

#975 treewide: clean up `with` and stuff
  modules/avizo/hm.nix
  modules/bemenu/hm.nix
  modules/bspwm/hm.nix
  modules/btop/hm.nix
  modules/console/nixos.nix
  modules/discord/hm.nix
  modules/dunst/hm.nix
  modules/emacs/hm.nix
  modules/foot/hm.nix
  modules/fuzzel/hm.nix
  modules/grub/nixos.nix
  modules/hyprlock/hm.nix
  modules/i3/hm.nix
  modules/i3status-rust/hm.nix
  modules/k9s/hm.nix
  modules/kubecolor/hm.nix
  modules/mako/hm.nix
  modules/mangohud/hm.nix
  modules/ncspot/hm.nix
  modules/nixos-icons/nixos.nix
  modules/nushell/hm.nix
  modules/qutebrowser/hm.nix
  modules/rio/hm.nix
  modules/rofi/hm.nix
  modules/sway/hm.nix
  modules/swaylock/hm.nix
  modules/swaync/hm.nix
  modules/tofi/hm.nix
  modules/vscode/hm.nix
  modules/wezterm/hm.nix
  modules/wofi/hm.nix
Labels: technical debt

#998 firefox: improve option descriptions for extensions
  modules/firefox/hm.nix
Labels: documentation

#1010 doc: display module maintainers
  docs/default.nix
  stylix/meta.nix
Labels: documentation

#1042 doc: add subheading before module metadata
  docs/default.nix
Labels: documentation

#1041 doc: reduce overuse of alerts
  docs/default.nix
  docs/src/configuration.md
  modules/discord/README.md
  modules/nixvim/README.md
  modules/nvf/README.md
  modules/spicetify/README.md
Labels: documentation

#1025 doc: format and polish Nix code according to our formatter
  docs/src/configuration.md
  docs/src/installation.md
  docs/src/modules.md
  docs/src/options/platforms/home_manager.md
  docs/src/testbeds.md
  docs/src/tricks.md
Labels: documentation

#1055 docs: add trick abt lib.mkAfter
  docs/src/tricks.md
Labels: documentation
