Repository nix-community/stylix, pull requests merged in 2025-01, with the labels that each got.

#726 doc: draw attention to release branches
  docs/src/installation.md
Labels: documentation

#727 doc: remove "below" which was moved to a separate page
  docs/src/installation.md
Labels: documentation

#754 treewide: use lib.singleton
  modules/alacritty/testbed.nix
  modules/emacs/testbed.nix
  modules/firefox/testbed.nix
  modules/foot/testbed.nix
  modules/ghostty/testbed.nix
  modules/hyprland/testbed.nix
  modules/kitty/testbed.nix
  modules/qutebrowser/testbed.nix
  modules/vscode/testbed.nix
  modules/wezterm/testbed.nix
  modules/yazi/testbed.nix
  modules/zathura/testbed.nix
Labels: backport release-24.11

#752 ci: lock and update Ubuntu runner in Backport workflow
  .github/workflows/backport.yml
Labels: backport release-24.11

#756 ci: standardize output redirection formatting
  .github/workflows/check.yml
Labels: backport release-24.11

#750 stylix: enhance nix-flake-check output and make location-independent
  flake.nix
Labels: backport release-24.11

#788 gnome: fix foreground color of transparent panels
  modules/gnome/colors.mustache
Labels: backport release-24.11

#745 ci: remove Magic Nix Cache
  .github/workflows/check.yml
  .github/workflows/docs.yml
Labels: performance, backport release-24.11
